Repository hayatoinkz/chargeline: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint:backend, bun run lint:frontend

chore: change pnpm to bun and add commitizen
  .husky/pre-push
  .huskyrc
  .lintstagedrc.json
  .nvmrc
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: none

feat(frontend): add initial structure
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/README.md
  frontend/bun.lockb
  frontend/components.json
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/lib/utils.ts
  frontend/tailwind.config.ts
  frontend/tsconfig.json
Due: bun run lint:frontend

feat(frontend): add shadcn components
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/app/emptyslot.tsx
  frontend/src/components/app/sidebar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/components/ui/use-toast.ts
  frontend/tailwind.config.ts
Due: bun run lint:frontend

chore(frontend): add favicon and manifest files
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/assets/img/logo.svg
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/site.webmanifest
  frontend/src/app/favicon.ico
Due: none

feat(frontend): add initial dashboard
  frontend/src/app/@history/error.tsx
  frontend/src/app/@history/loading.tsx
  frontend/src/app/@history/page.tsx
  frontend/src/app/@register/error.tsx
  frontend/src/app/@register/loading.tsx
  frontend/src/app/@register/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
Due: bun run lint:frontend

docs: update database diagram dmbl
  docs/db.dmbl
  docs/db.png
Due: none

docs: update global readme and logo
  .github/assets/logo.png
  .github/assets/logo.svg
  README.md
Due: none

docs(frontend): update readme
  frontend/README.md
Due: bun run lint:frontend

chore(frontend): update `package.json`
  frontend/package.json
Due: bun run lint:frontend

chore: update `package.json`
  package.json
Due: none

docs: update logo to github theme
  .github/assets/logo_dark.svg
  .github/assets/logo_light.svg
  README.md
  backend/README.md
  frontend/README.md
Due: bun run lint:backend, bun run lint:frontend

refactor(backend): change drivers to users folder
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/strategies/types/jwt-payload.type.ts
  backend/src/auth/types/login-response.type.ts
  backend/src/config/config.type.ts
  backend/src/database/seeds/user/user-seed.module.ts
  backend/src/database/seeds/user/user-seed.service.ts
  backend/src/forgot/entities/forgot.entity.ts
  backend/src/session/entities/session.entity.ts
  backend/src/session/session.service.ts
  backend/src/users/dto/create-user.dto.ts
  backend/src/users/dto/query-user.dto.ts
  backend/src/users/dto/update-user.dto.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  backend/src/users/users.service.ts
Due: bun run lint:backend

feat(backend): add hygen templates
  backend/.hygen/seeds/create/module.ejs.t
  backend/.hygen/seeds/create/run-seed-import.ejs.t
  backend/.hygen/seeds/create/run-seed-service.ejs.t
  backend/.hygen/seeds/create/seed-module-import.ejs.t
  backend/.hygen/seeds/create/seed-module.ejs.t
  backend/.hygen/seeds/create/service.ejs.t
Due: none

feat(backend): add type fuel crud
  backend/src/type-fuel/dto/create-type-fuel.dto.ts
  backend/src/type-fuel/dto/query-type-fuel.dto.ts
  backend/src/type-fuel/dto/update-type-fuel.dto.ts
  backend/src/type-fuel/entities/type-fuel.entity.ts
  backend/src/type-fuel/type-fuel.controller.ts
  backend/src/type-fuel/type-fuel.module.ts
  backend/src/type-fuel/type-fuel.service.ts
Due: bun run lint:backend

feat(backend): add type fuel seeds
  backend/src/database/seeds/type-fuel/type-fuel-seed.module.ts
  backend/src/database/seeds/type-fuel/type-fuel-seed.service.ts
Due: bun run lint:backend

feat(backend): add type fuel migration
  backend/src/database/migrations/1699854050398-CreateTypeFuel.ts
Due: bun run lint:backend

fix(backend): add type fuel module
  backend/src/app.module.ts
Due: bun run lint:backend

test(backend): add e2e type fuel tests
  backend/test/type-fuel/type-fuel.e2e-spec.ts
Due: bun run lint:backend

refactor(backend): remove home empty controller
  backend/src/home/home.controller.ts
  backend/src/home/home.module.ts
  backend/src/home/home.service.ts
Due: bun run lint:backend

chore(backend): add hygen initialize
  backend/.hygen.js
Due: bun run lint:backend

feat(backend): add uppercase transformer
  backend/src/utils/transformers/upper-case.transformer.ts
Due: bun run lint:backend

feat(backend): add type car enum
  backend/src/database/seeds/run-seed.ts
  backend/src/database/seeds/seed.module.ts
  backend/src/database/seeds/type-car/type-car-seed.module.ts
  backend/src/database/seeds/type-car/type-car-seed.service.ts
  backend/src/type-car/entities/type-car.entity.ts
  backend/src/type-car/type-car.enum.ts
Due: bun run lint:backend

feat(backend): add car crud
  backend/src/app.module.ts
  backend/src/car/car.controller.ts
  backend/src/car/car.module.ts
  backend/src/car/car.service.ts
  backend/src/car/dto/create-car.dto.ts
  backend/src/car/dto/query-car.dto.ts
  backend/src/car/dto/update-car.dto.ts
  backend/src/car/entities/car.entity.ts
Due: bun run lint:backend

feat(backend): add car migration
  backend/src/database/migrations/1699863307415-CreateCar.ts
Due: bun run lint:backend

refactor(backend): change update car dto
  backend/src/car/dto/update-car.dto.ts
Due: bun run lint:backend

test(backend): add e2e car tests
  backend/test/car/car.e2e-spec.ts
Due: bun run lint:backend

feat(backend): add fuel supply crud
  backend/src/app.module.ts
  backend/src/database/migrations/1699854050398-CreateTypeFuel.ts
  backend/src/database/migrations/1699863307415-CreateCar.ts
  backend/src/database/migrations/1699876044293-CreateFuelSupply.ts
  backend/src/database/seeds/run-seed.ts
  backend/src/database/seeds/seed.module.ts
  backend/src/fuel-supply/dto/create-fuel-supply.dto.ts
  backend/src/fuel-supply/dto/query-fuel-supply.dto.ts
  backend/src/fuel-supply/dto/update-fuel-supply.dto.ts
  backend/src/fuel-supply/entities/fuel-supply.entity.ts
  backend/src/fuel-supply/fuel-supply.controller.ts
  backend/src/fuel-supply/fuel-supply.module.ts
  backend/src/fuel-supply/fuel-supply.service.ts
Due: bun run lint:backend

chore(backend): change bun packager manage to npm
  backend/Dockerfile
  backend/bun.lockb
  backend/docker-compose.yaml
  backend/env-example
  backend/package-lock.json
  backend/package.json
  backend/startup.dev.sh
Due: bun run lint:backend

docs(backend): update `readme.md`
  backend/README.md
Due: bun run lint:backend

docs: change database diagram dmbl
  docs/db.dmbl
  docs/db.png
Due: none

chore(frontend): add eslint, prettier and cypress
  frontend/.eslintrc.cjs
  frontend/.eslintrc.json
  frontend/.prettierrc.cjs
  frontend/bun.lockb
  frontend/cypress.config.ts
  frontend/package.json
Due: bun run lint:frontend

refactor(frontend): change organization components shadcn
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/radio-group.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/toast.tsx
  frontend/src/components/ui/toaster.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/components/ui/use-toast.ts
Due: bun run lint:frontend

chore(frontend): add env example
  frontend/.env.example
Due: none

feat(frontend): add service types
  frontend/src/services/api/auth/config.ts
  frontend/src/services/api/auth/index.ts
  frontend/src/services/api/auth/types/user.ts
  frontend/src/services/api/car/config.ts
  frontend/src/services/api/car/index.ts
  frontend/src/services/api/car/types/car.ts
  frontend/src/services/api/fuel-supply/config.ts
  frontend/src/services/api/fuel-supply/index.ts
  frontend/src/services/api/fuel-supply/types/fuel-supply.ts
  frontend/src/services/config.tsx
  frontend/src/services/fetcher.tsx
  frontend/src/services/types/base.ts
  frontend/src/services/types/http-codes.ts
  frontend/src/services/types/pagination.ts
  frontend/src/services/types/role.ts
  frontend/src/services/types/sort.ts
  frontend/src/services/types/status.ts
  frontend/src/services/types/tokens.ts
  frontend/src/services/types/type-car.ts
  frontend/src/services/types/type-fuel.ts
  frontend/src/utils/validators/number-key.ts
Due: bun run lint:frontend

feat(frontend): add initial hooks
  frontend/src/hooks/auth/auth-context.ts
  frontend/src/hooks/auth/auth-provider.tsx
  frontend/src/hooks/auth/use-auth-actions.ts
  frontend/src/hooks/auth/use-auth-tokens.ts
  frontend/src/hooks/auth/use-auth.ts
  frontend/src/hooks/auth/with-page-required-auth.tsx
  frontend/src/hooks/auth/with-page-required-guest.tsx
  frontend/src/hooks/car/car-context.ts
  frontend/src/hooks/car/car-provider.tsx
  frontend/src/hooks/car/use-car-actions.ts
  frontend/src/hooks/car/user-car.ts
  frontend/src/hooks/social-auth/google/google-auth-provider.tsx
  frontend/src/hooks/social-auth/google/google-auth.tsx
  frontend/src/hooks/social-auth/google/google-config.ts
  frontend/src/hooks/social-auth/social-auth.tsx
Due: bun run lint:frontend

refactor(frontend): format shadcn components
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
Due: bun run lint:frontend

feat(frontend): add inital auth pages
  frontend/src/app/auth/components/ForgotForm/index.tsx
  frontend/src/app/auth/components/ForgotForm/validators/index.ts
  frontend/src/app/auth/components/LoginForm/index.tsx
  frontend/src/app/auth/components/LoginForm/validators/index.ts
  frontend/src/app/auth/components/RegisterForm/index.tsx
  frontend/src/app/auth/components/RegisterForm/validators/index.ts
  frontend/src/app/auth/forgot-password/page.tsx
  frontend/src/app/auth/layout.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/page.tsx
  frontend/src/app/auth/register/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/loading.tsx
  frontend/src/app/page.tsx
Due: bun run lint:frontend

feat(frontend): add addcar dialog
  frontend/src/app/home/components/AddCarDialog/index.tsx
  frontend/src/app/home/components/AddCarDialog/validators/index.ts
Due: bun run lint:frontend

feat(frontend): add editcar dialog
  frontend/src/app/home/components/EditCarDialog/index.tsx
  frontend/src/app/home/components/EditCarDialog/validators/index.ts
Due: bun run lint:frontend

Path conditions:
  bun run lint:backend: any of: ./backend/**/*.{js,ts,json,md}
  bun run lint:frontend: any of: ./frontend/**/*.{js,jsx,ts,tsx,json,md}
