Repository hayatoinkz/chargeline: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run lint:backend, bun run lint:frontend

.lintstagedrc.json:

{
  "./backend/**/*.{js,ts,json,md}": ["bun run lint:backend"],
  "./frontend/**/*.{js,jsx,ts,tsx,json,md}": ["bun run lint:frontend"]
}

feat(frontend): add delete car dialog
  frontend/src/app/home/components/DeleteCarDialog/index.tsx
Due: bun run lint:frontend

refactor(frontend): move to home folder components
  frontend/src/app/home/components/EmptySlot/index.tsx
  frontend/src/app/home/components/Sidebar/index.tsx
  frontend/src/components/app/emptyslot.tsx
  frontend/src/components/app/sidebar.tsx
Due: bun run lint:frontend

feat(frontend): add table component for history tab
  frontend/src/app/home/components/HistoryTab/components/Columns.tsx
  frontend/src/app/home/components/HistoryTab/components/Table.tsx
  frontend/src/app/home/components/HistoryTab/components/TableColumnHeader.tsx
  frontend/src/app/home/components/HistoryTab/components/TableFacetedFilter.tsx
  frontend/src/app/home/components/HistoryTab/components/TablePagination.tsx
  frontend/src/app/home/components/HistoryTab/components/TableToolbar.tsx
  frontend/src/app/home/components/HistoryTab/components/TableViewOptions.tsx
Due: bun run lint:frontend

refactor(frontend): move tabs to home folder
  frontend/src/app/@history/error.tsx
  frontend/src/app/@history/loading.tsx
  frontend/src/app/@history/page.tsx
  frontend/src/app/@register/error.tsx
  frontend/src/app/@register/loading.tsx
  frontend/src/app/@register/page.tsx
  frontend/src/app/home/components/HistoryTab/index.tsx
  frontend/src/app/home/components/RegisterTab/Form.tsx
  frontend/src/app/home/components/RegisterTab/index.tsx
  frontend/src/app/home/components/RegisterTab/validators/index.ts
Due: bun run lint:frontend

feat(frontend): add home with header layout
  frontend/src/app/home/components/Header/index.tsx
  frontend/src/app/home/components/UserNav/index.tsx
  frontend/src/app/home/layout.tsx
  frontend/src/app/home/page.tsx
Due: bun run lint:frontend

style(frontend): format utils
  frontend/src/lib/utils.ts
Due: bun run lint:frontend

fix(backend): add filter car at service
  backend/src/fuel-supply/dto/query-fuel-supply.dto.ts
  backend/src/fuel-supply/fuel-supply.service.ts
Due: bun run lint:backend

fix(backend): change update car dto and add group in `POST` route
  backend/src/car/car.controller.ts
  backend/src/car/dto/update-car.dto.ts
Due: bun run lint:backend

docs: update readme and add screenshots
  README.md
  backend/README.md
  docs/screenshots/add-car.png
  docs/screenshots/delete-car.png
  docs/screenshots/empty.png
  docs/screenshots/figma.png
  docs/screenshots/history.png
  docs/screenshots/login.png
  docs/screenshots/register.png
  frontend/README.md
Due: bun run lint:backend, bun run lint:frontend

test(frontend): add initial cypress tests
  frontend/cypress/e2e/1-auth/login.cy.ts
  frontend/cypress/e2e/1-auth/register.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
Due: bun run lint:frontend

fix(frontend): remove google auth at forms
  frontend/src/app/auth/components/LoginForm/index.tsx
  frontend/src/app/auth/components/RegisterForm/index.tsx
Due: bun run lint:frontend

docs: update `readme.md`
  README.md
Due: none
